body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}

/* NAVBAR */
.navbar {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #38bdf8;
  text-decoration: none;
  margin: 0 10px;
}

/* CONTENEDOR */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

/* CARDS */
.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

/* INPUTS */
input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

input {
  background: #334155;
  color: white;
}

button {
  background: #38bdf8;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0ea5e9;
}

/* ANIMACIÓN */
.fade-in {
  animation: fade 0.5s ease-in;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
#preview {
  border-radius: 10px;
  max-height: 300px;
  object-fit: cover;
}